dist
__pycache__
*.egg-info/
.ipynb_checkpoints
experiment/tex
experiment/results/old_results
experiment/results/logs
experiment/processed_results
experiment/figures
experiment/__pycache__
experiment/results
experiment/results.zip
examples/tex
*.png
archive/
build/
*.pdf
.flake8
ruff.toml